

.ligt{
  background-color: #F2F2F2;
  padding: 80px 0px;
}

.main .ligt {
  padding-top: 48px;
  padding-bottom: 45px;
}

.link{
  text-decoration: none;
}




.flag{
  width: 560px;
  height: 484px;
}

.head .ligt{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  padding: 23px 0px;
  color: #111517;
  background-color: transparent;
}


.counter-boxs{
  display: flex;
  align-items: center;
  margin-bottom: 68px;
}

.scrool{
  display: flex;
  flex-wrap: wrap;
}

.marg{
  margin-right: 80px;
}

.counter{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.Search {
  width: 480px;
  padding: 18px 0px;
  padding-left: 74px;
  background: #FFFFFF;
  box-shadow: 0px 2px 9px #0000000e;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-image: url(./images/ser.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: calc(50% - 200px) center ;
}

.back{
  display: flex;
  align-items: center;
  background-color: none;
  border: none;
  margin-bottom: 90px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #111517;
  cursor: pointer;
}



.back > img{
  margin-right: 11px;
}

.backslaw .ligt {
  padding-top: 90px;
}

.backslaw .dark {
  padding-top: 90px;
  background-color: #111517;
}

.dark .back{
  background: #2B3844;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
  border-radius: 6px;
  color: #F2F2F2;
}

.cou-box{
  max-width: 600px;
  width: 100%;
}
.error{
  text-align: center;
  font-weight: 700;
  line-height: 42px;
  font-size: 42px;
}

.border{
  margin-left: 20px;
  box-shadow: 0px 0px 4px 1px #0000001b;
  border-radius: 2px;
  padding: 5px 28px;
  margin-bottom: 10px;
}

.select {
  display: block;
  margin-left: auto;
  padding: 18px 24px;
  padding-right: 77px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  appearance: none;
  background-image: url(./images/Shape.svg);
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: calc(50% + 75px) center;
  border-radius: 5px;
}


.hero {
  padding: 45px 0px;
}


.dark{
  background: #2B3844;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  color: #F2F2F2;
  padding: 80px 0px;
}

.dark .darck {
  color: #fff;
}

.main  .dark {
  background: #202C36;
}




.dark .list  .item  {
  background: #2B3844;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  color: #F2F2F2;
}

.dark .list  .item a {
  color: #F2F2F2;
}

.head  .dark {
  padding: 23px 0px;
}

.search{
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}



@media only screen and (max-width: 376px) {
  .head  .dark {
    padding: 30px 0px;
  }
  
  .scrool{
    width: 300px;
  }
  
  .iner{
    width: 376px;
  }
  
  .darck{
    font-size: 12px;
    line-height: 18px;
    margin-left: 30px;
  }
  
  .head .ligt {
    padding: 30px 0px;
  }
  
  
  .Search{
    max-width: 343px;
    margin-bottom: 40px;
  }
  .list{
    flex-direction: column;
    align-items: center;
  }
  
  .item{
    max-width: 264px;
    margin: 0;
    margin-bottom: 40px;
  }
  
  .select {
    max-width: 200px;
    margin: 0;
    margin-right: auto;
  }
  .search{
    padding-top: 23px;
    display: flex;
    flex-direction: column;
    width: 345px;
  }
  
  .tittle{
    font-size: 18px;
    line-height: 28px;
  }
  
  .counter{
    flex-direction: column;
    align-items: flex-start;
  }
  
  .flag{
    width: 320px;
    height: 276px;
  }
  
  .cou-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .container{
    max-width: 340px;
    overflow-x: hidden;
    margin: 0;
  }
  
  .backslaw  .back {
    margin: 0;
    padding: 6px 25px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    border-radius: 2px;
    margin-bottom: 64px;
  }

  
  .marg{
    margin: 0;
    width: 100%;
  }

  .back{
    display: block;
    margin-right: 0;
  }


  .counter-boxs p strong {
    display: block;
  }
  
  
  .counter-boxs{
    flex-direction: column;
    align-items: flex-start;
  }
  
}

@media only screen and (max-width: 321px) {
  
  
  
  .Search{
    display: block;
    width: 280px;
  }
  
  .select{
    margin-right: 0px;
  }
  
  
  .search{
    margin: 0px auto;
    max-width: 300px;
    margin-bottom: 40px;
    align-items: flex-start;
    
  }
  
  .tittle{
    font-size: 16px;
    line-height: 24px;
  }
}